---
import dayjs from 'dayjs'
import utc from 'dayjs/plugin/utc'
dayjs.extend(utc)
import { metaProp } from '@stores/posts'
const { logo, meta, name } = metaProp.get()
---

<div id="brand">
  <div class="pjax">
    {
      Boolean(logo) ? (
        <Fragment>
          <a href="/" class="logo">
            <p class="artboard">{logo.artboard}</p>
            <h1 class="title">{logo.title}</h1>
          </a>
          <p class="meta">{meta[0]}</p>
        </Fragment>
      ) : (
        <>
          <h1 itemprop="name headline">{name}</h1>
          {Boolean(meta) && (
            <div class="meta">
              <span class="item" title={`创建时间：${meta[0]}`}>
                <>
                  <span class="icon">
                    <i class="ic i-calendar" />
                  </span>
                  <span class="text">发表于</span>
                </>
                <time itemprop="dateCreated datePublished" datetime={meta[0]}>
                  {dayjs.utc(meta[0]).format('YYYY-MM-DD')}
                </time>
              </span>
            </div>
          )}
        </>
      )
    }
  </div>
</div>
